<p-fieldset legend="Criterios de Catalogo" toggleable="true">
	<form [formGroup]="criteriaForm" (ngSubmit)="resetearPaginacionYBuscar()">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="ui-g-12 ui-md-4">
					<span class="md-inputfield">
	                    <input formControlName="Nombre" type="text" pInputText>
	                    <label>Nombre</label>
	                </span>
				</div>
			</div>
		</div>
		<p-footer>
			<div class="ui-g-12" style="text-align: center;">
				<button type="submit" pButton icon="ui-icon-search" label="Buscar"></button>
				<button type="button" pButton icon="ui-icon-clear" label="Limpiar" (click)="limpiarCriteria()"></button>
			</div>
		</p-footer>
	</form>
</p-fieldset>
<BR/>
<p-dataTable #dtbuscador [value]="lista" selectionMode="single" [(selection)]="seleccionado" [lazy]="true" [rows]="tamanioPagina"
 [paginator]="true" [totalRecords]="totalRegistros" (onLazyLoad)="buscarPaginado($event)" [emptyMessage]="tablaSinDatos">
	<p-header>
		<div class="ui-helper-clearfix">
			<span class="ui-panel-title" style="font-size:0.95em;display:inline-block;margin-top:2px">
                Menus
            </span>
			<button type="button" pButton icon="fa-plus" style="float:right" (click)="nuevo()" label="Nuevo"></button>
		</div>
	</p-header>
	<p-column field="Codigo" header="Código"></p-column>
	<p-column field="Nombre" header="Nombre"></p-column>
	<p-column field="Descripcion" header="Descripción"></p-column>
	<p-column header="Acción">
		<ng-template pTemplate="body" let-i="rowIndex">
			<button pButton type="button" (click)="editar(i)" pTooltip="Editar" tooltipPosition="left" icon="ui-icon-edit"></button>
			<button pButton type="button" (click)="visualizar(i)" pTooltip="Visualizar" tooltipPosition="left" icon="ui-icon-pageview"></button>
			<button pButton type="button" (click)="eliminar(i)" pTooltip="Eliminar" tooltipPosition="left" icon="ui-icon-delete"></button>
		</ng-template>
	</p-column>
</p-dataTable>
<p-blockUI [blocked]="alertaEntidad.esBloquear" [target]="pnl"></p-blockUI>
<p-dialog header="{{alertaEntidad.titulo}}" [(visible)]="alertaEntidad.esVisible" [modal]="true" showEffect="fade" [responsive]="true"
 [draggable]="false" [resizable]="false" [closable]="true" width="900">
	<form [formGroup]="entidadForm">
		<div class="modal-body">
			<p-panel #pnl class="pnlSinBarraDeTitulo">
				<div class="ui-g ui-fluid">
					<div class="ui-g-12">
						<div class="ui-g-12 ui-md-6">
							<span class="md-inputfield">
				                    <input formControlName="Codigo" type="text" 
				                    pTooltip="Ingrese un código de Menu máximo 15 carácteres." pInputText/>
				                    <label>Códgigo</label>
				                </span>
						</div>
						<div class="ui-g-12 ui-md-6">
							<span class="md-inputfield">
				                    <input formControlName="Nombre" type="text"
				                    pTooltip="Ingrese un nombre de Menu máximo 80 carácteres." pInputText/>
				                    <label>Nombre</label>
				                </span>
						</div>
					</div>
					<div class="ui-g-12">
						<div class="ui-g-12 ui-md-6">
							<span class="md-inputfield">
				                    <input formControlName="Descripcion" type="text"
				                    pTooltip="Ingrese una descripción de Menu máximo 255 carácteres." pInputText/>
				                    <label>Descripción</label>
				                </span>
						</div>
					</div>
				</div>
				<BR/>
				<p-dataTable [value]="seleccionado.Items" selectionMode="single" [scrollable]="true" scrollHeight="250px">
					<p-header style="text-align: left;">
						<div class="ui-helper-clearfix">
							<span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
					                Items
					            </span>
							<button type="button" pButton icon="fa-plus" style="float:right" (click)="nuevoItem()" label="Nuevo"></button>
						</div>
					</p-header>
					<p-column field="Codigo" header="Código"></p-column>
					<p-column field="Nombre" header="Nombre"></p-column>
					<p-column field="Descripcion" header="Descripción"></p-column>
					<p-column field="Url" header="Url"></p-column>
					<p-column field="EstadoNombre" header="Estado"></p-column>
					<p-column field="TipoNombre" header="Tipo"></p-column>
					<p-column field="MenuPadreNombre" header="Menu Padre"></p-column>
					<p-column field="FuncionalidadNombre" header="Funcionalidad"></p-column>
					<p-column field="Orden" header="Orden"></p-column>
					<p-column field="Icono" header="Icono"></p-column>
					<p-column header="Acción">
						<ng-template pTemplate="body" let-i="rowIndex">
							<button pButton type="button" (click)="editarItem(i)" pTooltip="Editar" tooltipPosition="left" icon="ui-icon-edit"></button>
							<button pButton type="button" (click)="visualizarItem(i)" pTooltip="Visualizar" tooltipPosition="left" icon="ui-icon-pageview"></button>
							<button pButton type="button" (click)="eliminarItem(i)" pTooltip="Eliminar" tooltipPosition="left" icon="ui-icon-delete"></button>
						</ng-template>
					</p-column>
				</p-dataTable>
			</p-panel>
		</div>
	</form>
	<p-footer>
		<div class="ui-g-12" style="text-align: right;">
			<button *ngIf="accion==1||accion==2" type="button" pButton label="Guardar" (click)="guardar()" [disabled]="!entidadForm.valid"></button>
			<button *ngIf="accion==3" type="button" pButton label="Cerrar" (click)="guardar()"></button>
			<button *ngIf="accion==0" type="button" pButton label="Eliminar" (click)="guardar()"></button>
		</div>
	</p-footer>
</p-dialog>
<menu-item></menu-item>