<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2fdb7ea6-6266-4a04-a2d1-35acf73e4735/resourcegroups/produccion/providers/Microsoft.Web/sites/farmalineapp1</ResourceId>
    <ResourceGroup>produccion</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://farmalineapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>farmalineapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>farmalineapp/api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$farmalineapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Framework.EntityFramewok.EntityFrameworkContext" Order="1" Enabled="False">
          <Destination Path="Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017" Name="Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Framework.EntityFramewok.EntityFrameworkContext, Framework" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Contexto" Order="2" Enabled="False">
          <Destination Path="Data Source=testfarma.database.windows.net;Initial Catalog=farmaciadb;Persist Security Info=True;User ID=test@testfarma.database.windows.net;Password=Prueba2017" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nucleo.Presentacion.Models.Contexto, Nucleo.Presentacion" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Contexto-Web.config Connection String">
      <ParameterValue>Data Source=testfarma.database.windows.net;Initial Catalog=farmaciadb;Persist Security Info=True;User ID=test@testfarma.database.windows.net;Password=Prueba2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Framework.EntityFramewok.EntityFrameworkContext-Web.config Connection String">
      <ParameterValue>Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Contexto-Web.config Connection String">
      <ParameterValue>Data Source=testfarma.database.windows.net;Initial Catalog=farmaciadb;Persist Security Info=True;User ID=test@testfarma.database.windows.net;Password=Prueba2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Framework.EntityFramewok.EntityFrameworkContext-Web.config Connection String">
      <ParameterValue>Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Contexto-Web.config Connection String">
      <ParameterValue>Data Source=testfarma.database.windows.net;Initial Catalog=farmaciadb;Persist Security Info=True;User ID=test@testfarma.database.windows.net;Password=Prueba2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Framework.EntityFramewok.EntityFrameworkContext-Web.config Connection String">
      <ParameterValue>Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Contexto-Web.config Connection String">
      <ParameterValue>Data Source=testfarma.database.windows.net;Initial Catalog=farmaciadb;Persist Security Info=True;User ID=test@testfarma.database.windows.net;Password=Prueba2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Framework.EntityFramewok.EntityFrameworkContext-Web.config Connection String">
      <ParameterValue>Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Contexto-Web.config Connection String">
      <ParameterValue>Data Source=testfarma.database.windows.net;Initial Catalog=farmaciadb;Persist Security Info=True;User ID=test@testfarma.database.windows.net;Password=Prueba2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Framework.EntityFramewok.EntityFrameworkContext-Web.config Connection String">
      <ParameterValue>Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Contexto-Web.config Connection String">
      <ParameterValue>Data Source=testfarma.database.windows.net;Initial Catalog=farmaciadb;Persist Security Info=True;User ID=test@testfarma.database.windows.net;Password=Prueba2017</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Framework.EntityFramewok.EntityFrameworkContext-Web.config Connection String">
      <ParameterValue>Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Framework.EntityFramewok.EntityFrameworkContext" />
  </ItemGroup>
</Project>