<p-fieldset legend="Criterios de Búsqueda" toggleable="true">
	<form [formGroup]="criteriaForm" (ngSubmit)="resetearPaginacionYBuscar()">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="ui-g-12 ui-md-4">
					<span class="md-inputfield">
	                    <input formControlName="Identificacion" type="text" pInputText>
	                    <label>Identificación</label>
	                </span>
				</div>
				<div class="ui-g-12 ui-md-4">
					<span class="md-inputfield">
	                    <input formControlName="Nombre" type="text" pInputText>
	                    <label>Nombre</label>
	                </span>
				</div>
				<div class="ui-g-12 ui-md-4">
					<span class="md-inputfield">
	                    <input formControlName="Apellido" type="text" pInputText>
	                    <label>Apellido</label>
	                </span>
				</div>
			</div>
		</div>
		<p-footer>
			<div class="ui-g-12" style="text-align: center;">
				<button type="submit" pButton icon="ui-icon-search" label="Buscar"></button>
				<button type="button" pButton icon="ui-icon-clear" label="Limpiar" (click)="limpiarCriteria()"></button>
			</div>
		</p-footer>
	</form>
</p-fieldset>
<BR/>
<p-dataTable #dtbuscador [value]="lista" selectionMode="single" [(selection)]="seleccionado" [lazy]="true" [rows]="tamanioPagina"
 [paginator]="true" [totalRecords]="totalRegistros" (onLazyLoad)="buscarPaginado($event)" [emptyMessage]="tablaSinDatos">
	<p-header>
		<div class="ui-helper-clearfix">
			<span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">
	            Personas
	        </span>
			<button type="button" pButton icon="fa-plus" style="float:right" (click)="nuevo()" label="Nuevo"></button>
		</div>
	</p-header>
	<p-column field="Identificacion" header="Identificación"></p-column>
	<p-column field="Nombres" header="Nombres"></p-column>
	<p-column field="Apellidos" header="Apellidos"></p-column>
	<p-column field="Correo" header="Correo"></p-column>
	<p-column field="Movil" header="Movil"></p-column>
	<p-column field="Telefono" header="Telefono"></p-column>
	<p-column header="Acción">
		<ng-template pTemplate="body" let-i="rowIndex">
			<button pButton type="button" (click)="editar(i)" pTooltip="Editar" tooltipPosition="left" icon="ui-icon-edit"></button>
			<button pButton type="button" (click)="visualizar(i)" pTooltip="Visualizar" tooltipPosition="left" icon="ui-icon-pageview"></button>
			<button pButton type="button" (click)="eliminar(i)" pTooltip="Eliminar" tooltipPosition="left" icon="ui-icon-delete"></button>
		</ng-template>
	</p-column>
</p-dataTable>
<p-blockUI [blocked]="alertaEntidad.esBloquear" [target]="pnl"></p-blockUI>
<p-dialog header="{{alertaEntidad.titulo}}" [(visible)]="alertaEntidad.esVisible" [modal]="true" showEffect="fade" [responsive]="true"
 [draggable]="false" [resizable]="false" [closable]="true" width="800">
	<div class="ui-g">
		<form [formGroup]="entidadForm">
			<div class="modal-body">
				<p-panel #pnl class="pnlSinBarraDeTitulo">
					<div class="ui-g ui-fluid">
						<div class="ui-g-12">
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="Identificacion" type="text" 
					                    pTooltip="Ingrese una identificación de 10 a 20 carácteres." pInputText/>
					                    <label>Identificación</label>
					                </span>
							</div>
							<div class="ui-g-12 ui-md-2">
								<label for="dropdown">Tipo de Documento</label>
							</div>
							<div class="ui-g-12 ui-md-2">
								<p-dropdown formControlName="TipoDocumento" [options]="tiposDocumento" [autoWidth]="false" filter="true"></p-dropdown>
							</div>
							<div class="ui-g-12 ui-md-2">
								<label for="dropdown">Estado Civil</label>
							</div>
							<div class="ui-g-12 ui-md-2">
								<p-dropdown formControlName="EstadoCivil" [options]="estadosCivil" [autoWidth]="false" filter="true"></p-dropdown>
							</div>
						</div>
						<div class="ui-g-12">
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="PrimerNombre" type="text" pInputText/>
					                    <label>Primer Nombre</label>
					                </span>
							</div>
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="SegundoNombre" type="text" pInputText/>
					                    <label>Segundo Nombre</label>
					                </span>
							</div>
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="PrimerApellido" type="text" pInputText/>
					                    <label>Primer Apellido</label>
					                </span>
							</div>
						</div>
						<div class="ui-g-12">
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="SegundoApellido" type="text" pInputText/>
					                    <label>Segundo Apellido</label>
					                </span>
							</div>
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="Telefono" type="text" pInputText/>
					                    <label>Telefono</label>
					                </span>
							</div>
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="Movil" type="text" pInputText/>
					                    <label>Movil</label>
					                </span>
							</div>
						</div>
						<div class="ui-g-12">
							<div class="ui-g-12 ui-md-4">
								<span class="md-inputfield">
					                    <input formControlName="Correo" type="text" pInputText/>
					                    <label>Correo</label>
					                </span>
							</div>
						</div>
					</div>
				</p-panel>
			</div>
		</form>
	</div>
	<p-footer>
		<button *ngIf="accion==1||accion==2" type="button" pButton label="Guardar" (click)="guardar()" [disabled]="!entidadForm.valid"></button>
		<button *ngIf="accion==3" type="button" pButton label="Cerrar" (click)="guardar()"></button>
		<button *ngIf="accion==0" type="button" pButton label="Eliminar" (click)="guardar()"></button>
	</p-footer>
</p-dialog>