<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--  Configuracion de IoC-->
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />    
  </configSections>
  <connectionStrings>
    <!--rep
    <add name="CarpetaLineaContext" connectionString="Data Source=.\; Initial Catalog=carpetaLineaPreProduccion; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
-->
    <!--Configuracion de Conexion a la base de datos de Carpeta en Linea-->
    <!--<add name="CarpetaLineaContext" connectionString="Data Source=192.168.4.213;Initial Catalog=CarpetaLineaPreProduccion;Persist Security Info=True;User ID=usrcampusoft03;Password=Pa$$w0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="Contexto" connectionString="data source=DESKTOP-V7P4U61;initial catalog=CatastroDB_Paquisha;Integrated Security=SSPI;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />-->
    <add name="Contexto" connectionString="Server=tcp:testfarma.database.windows.net,1433;Initial Catalog=farmaciadb;Persist Security Info=False;User ID=test;Password=Prueba2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name="CarpetaLineaContext" connectionString="Data Source=192.168.4.213;Initial Catalog=CarpetaLineaQA;Persist Security Info=True;User ID=usrcampusoft03;Password=Pa$$w0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--Configuracion contra directorio activo, por medio LDAP, se utiliza en MembershipProvider => ADMembershipProvider-->
    <!--<add name="ADConnectionString" connectionString="LDAP://sntest45.udlatest.local:389/OU=UDLA,DC=udlatest,DC=local" />-->
    <!--Cadena de conexion a MongoDb para almacenar Elmah-->
    <!--<add name="elmah-mongodb" connectionString="mongodb://localhost/elmah?w=0" />-->
    <!--Cadena de Conexion a SqLite para almacenar Elmah-->
    <!--<add name="elmah-sqlite" connectionString="data source=~/App_Data/ErrorLog.db" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Codigo del sistema configurado-->
    <add key="Nucleo.Codigo_Sistema" value="FARMACIA" />
    <!--configuraciones para seleccionar los menus que se van a visivilizar en lo interno de la udla como en la internet publica  -->
    <add key="Presentacion.CodigoMenu" value="FARMENMAIN" />
    <!--SEGURIDAD-->
    <!--Aplicar mecanismo de autorizacion al sistema. Valores: True: Aplicar mecanismo, false: no aplicar mecanismo. Valor por Default: true-->
    <add key="Seguridad.AplicarMecanismoAutorizacion" value="true" />
    <!--Listado de sinonimos de nombres de acciones de mvc, de las acciones de las funcionalidades para aplicar autorizacion-->
    <add key="Seguridad.Acciones.Sinonimos" value="{'VIEW':'INDEX,GET,BUSCAR,OBTENER,LIST,BUSQUEDA,DETAILS','EDIT':'ACTUALIZAR,UPDATE','DELETE':'BORRAR,ELIMINAR','CREATE':'NEW,NUEVO'}" />
    <!--Listado de controladores que se deben omitir autorizacion-->
    <add key="Seguridad.Controladores.Omitir" value="ERROR,INICIO,HOME" />
    <!--Listado de prefijos de acciones que se deben omitir autorizacion-->
    <add key="Seguridad.Acciones.Omitir" value="INICIO,VALIDAR" />
    <!--Clave para encryptacion de textos SmartDev2017-->
    <add key="Seguridad.Clave.Encriptar" value="SmartDev2017" />
    <!--Tiempo de sesion en minutos -->
    <add key="Seguridad.Token.TiempoSesion" value="20" />
    <!--Configuracion Elmah
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
-->
    <add key="Sitio.Url" value="http://localhost:4200" />
    <add key="Captcha.Validacion.Url" value="recaptcha/api/siteverify" />
    <add key="Captcha.Clave.Secreta" value="6LcS5yoUAAAAADKvI0pABHQQh0ALdp2pDs19cqtz" />
    <add key="FCM.Envio.Url" value="fcm/send" />
    <add key="FCM.Clave.Secreta" value="AAAAUBucYK4:APA91bFpiJDm_XVBYMKiO_-se-uy2az26ZI1L1axMsTA2bf31yIxu_AvZqicPn4C_T3qDBkLu3eNlflhy9bUg6tdR-f4VeXHlgmw72DkalwIfKxnvcyISsKazSYFM3VE6TuAlCLG_SI4" />
  </appSettings>
  <!--Configuraciones de IoC, por medio de StructureMap, para definir las implmentaciones, plugins, etc. del sistema-->
  <StructureMap MementoStyle="Attribute">
    <!--SEGURIDAD-->
    <!--Mecanismo de autentificacion libre, es decir deja pasar. Bypass-->
    <!--  <DefaultInstance PluginType="Udla.Framework.IAuthentication, Udla.Framework" PluggedType="Udla.Framework.ByPassAuthentication, Udla.Framework" Scope="Singleton" /> -->
    <!--Mecanismo de autentificacion utilizando servicios Ldap-->
    <!--userNameCompareStrict. Indica si se hace una comparacion estricta al comparar el nombre de usuario -->
    <DefaultInstance PluginType="Framework.Security.IAuthentication, Framework" PluggedType="Framework.Security.LdapAuthentication, Framework" Scope="Singleton" userNameCompareStrict="true" path="172.16.50.81" domain="172.16.50.81" />
    <!--Mecanismo para aplicar lista de reglas de acceso posterior a que el usuario se autentifica-->
    <DefaultInstance PluginType="Framework.Security.IAccessAuthorizer, Framework" PluggedType="Framework.Security.GnericAccessAuthorizer, Framework" Scope="Singleton" />
    <!--Regla para verificar si cuenta esta bloquea-->
    <!--<AddInstance Key="CuentaInactivaAccessRule" 
                    PluginType="Udla.Framework.IAccessRule, Udla.Framework"
                  PluggedType="Udla.Nucleo.Dominio.CuentaInactivaAccessRule,Udla.Nucleo.Dominio" Scope="Singleton" />-->
    <!--Gestion de Identidades-->
    <DefaultInstance PluginType="Framework.Security.IIdentityUser, Framework" PluggedType="Nucleo.Presentacion.Security.IdentityUserServiciosWeb, Nucleo.Presentacion" Scope="Singleton" />
    <!--Proveedor para obtener información externa del directorio activo -->
    <DefaultInstance PluginType="Framework.Security.IExternalInfoUserProvider, Framework" PluggedType="Framework.Security.ActiveDirectoryExternalInfoUserProvider,                       Framework" Scope="Singleton" connectionStringName="ADConnectionString" connectionUsername="ConsultaAD" connectionPassword="Pa$$w0rd" attributeMapUsername="userPrincipalName" attributeMapRoles="memberOf" attributeMapUserPrincipalName="userPrincipalName" attributeMapBannerId="userIDBanner" attributeMapNumeroMatricula="userIDSaes" attributeMapApellidoPaterno="sn" attributeMapNombres="givenName" attributeMapIdentificacion="userCI" attributeMapCorreo="mail" attributeMapSatatusEstudiante="userStudentStatus" attributeMapStatusProfesor="userTeacherStatus" />
    <!--Proveedor para saltar la recuperacion de usuarios de fuentes externas  -->
    <!--
    <DefaultInstance PluginType="Udla.Framework.IExternalInfoUserProvider, Udla.Framework"
                     PluggedType="Udla.Framework.ByPassInfoUserProvider, 
                     Udla.Framework" Scope="Singleton" connectionStringName="ADConnectionString" connectionUsername="ConsultaAD" connectionPassword="Pa$$w0rd" attributeMapUsername="userPrincipalName" attributeMapRoles="memberOf" attributeMapUserPrincipalName="userPrincipalName" attributeMapBannerId="userIDBanner" attributeMapNumeroMatricula="userIDSaes" attributeMapApellidoPaterno="sn" attributeMapNombres="givenName" attributeMapIdentificacion="userCI" attributeMapCorreo="mail" attributeMapSatatusEstudiante="userStudentStatus" attributeMapStatusProfesor="userTeacherStatus" />


 -->
    <!--CACHE-->
    <!--Cache local, en memoria-->
    <DefaultInstance PluginType="Framework.Cache.ICacheManager, Framework" PluggedType="Framework.Cache.LocalCacheManager, Framework" Scope="Singleton" />
    <!-- LOG -->
    <!--Logs con Nlog, revisar la section nlog para las configuraciones-->
    <DefaultInstance PluginType="Framework.Logging.ILoggerFactory, Framework" PluggedType="Infrastructure.Logging.Nlog.NLogFactory, Infrastructure.Logging.Nlog" Scope="Singleton" />
    <!-- AUDITORIA -->
    <!--Clase personalizada (layout) para el registro de auditoria medinate logs-->
    <DefaultInstance PluginType="Framework.Auditoria.ILogAuditoriaFactory, Framework" PluggedType="Infrastructure.Logging.Nlog.LogAuditoriaFactory, Infrastructure.Logging.Nlog" Scope="Singleton" />
    <!--CONTROL DE EXCEPCIONES-->
    <DefaultInstance PluginType="Framework.Exception.IHandlerExcepciones, Framework" PluggedType="Framework.Exception.ManejadorExcepciones, Framework" Scope="Singleton" />
    <!--Listado de Filtros para aplicarse en el manejador de Excepciones-->
    <!--Filtro de excepciones, para registrar la excepcion utilizando el mecanismo Elmah-->
    <AddInstance Key="ElmahFilterHandleException" PluginType="Framework.Exception.IFilterHandleException, Framework" PluggedType="Framework.Exception.ElmahFilterHandleException, Framework" />
    <!--Filtro para aplicar mensajes amigables al usuarios-->
    <AddInstance Key="ApplyFriendlyMessageIFilterHandleException" PluginType="Framework.Exception.IFilterHandleException, Framework" PluggedType="Framework.Exception.ApplyFriendlyMessageIFilterHandleException, Framework" />
    <!--CONFIGURACION DE REPOSITORIOS-->
    <!--Configuracion de repositorios con NHibernate-->
    <!--generateDataBase=true, para generar la base de datos desde los mapper del repository-->
    <!--show_sql=true, registra los logs enviados a la base de datos-->
    <DefaultInstance PluginType="Framework.Repository.IRepositoryConfiguration, Framework" PluggedType="Negocio.Proceso.DependencyResolution.RepositoryConfiguration, Negocio.Proceso" Scope="Singleton" />
    <!--VARIOS-->
    <!--Gestion de fecha y Hora. Obtener la fecha y hora de la maquina donde se ejecute el sistema-->
    <DefaultInstance PluginType="Framework.Util.IManagerDateTime, Framework" PluggedType="Framework.Util.LocalManagerDateTime, Framework" Scope="Singleton" />
  </StructureMap>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
