<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--  Configuracion de IoC-->
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
    <!--Configuraciones de Logs-->
    <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
    <!--Configuraciones de control de excepciones. Elmah -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--rep
    <add name="CarpetaLineaContext" connectionString="Data Source=.\; Initial Catalog=carpetaLineaPreProduccion; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
-->
    <!--Configuracion de Conexion a la base de datos de Carpeta en Linea-->
    <!--<add name="CarpetaLineaContext" connectionString="Data Source=192.168.4.213;Initial Catalog=CarpetaLineaPreProduccion;Persist Security Info=True;User ID=usrcampusoft03;Password=Pa$$w0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="Contexto" connectionString="data source=DESKTOP-55VA1AE;initial catalog=test;Integrated Security=SSPI;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="Contexto" connectionString="Data Source=QUASAD;Initial Catalog=FarmaciaLocal;Persist Security Info=True;User ID=smartadmin;Password=@Smartdev2017;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="CarpetaLineaContext" connectionString="Data Source=192.168.4.213;Initial Catalog=CarpetaLineaQA;Persist Security Info=True;User ID=usrcampusoft03;Password=Pa$$w0rd;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--Configuracion contra directorio activo, por medio LDAP, se utiliza en MembershipProvider => ADMembershipProvider-->
    <!--<add name="ADConnectionString" connectionString="LDAP://sntest45.udlatest.local:389/OU=UDLA,DC=udlatest,DC=local" />-->
    <!--Cadena de conexion a MongoDb para almacenar Elmah-->
    <!--<add name="elmah-mongodb" connectionString="mongodb://localhost/elmah?w=0" />-->
    <!--Cadena de Conexion a SqLite para almacenar Elmah-->
    <!--<add name="elmah-sqlite" connectionString="data source=~/App_Data/ErrorLog.db" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Codigo del sistema configurado-->
    <add key="Nucleo.Codigo_Sistema" value="SISTEMASIS" />
    <!--configuraciones para seleccionar los menus que se van a visivilizar en lo interno de la udla como en la internet publica  -->
    <add key="Presentacion.CodigoMenu" value="SISMENMAIN" />
    <!--SEGURIDAD-->
    <!--Aplicar mecanismo de autorizacion al sistema. Valores: True: Aplicar mecanismo, false: no aplicar mecanismo. Valor por Default: true-->
    <add key="Seguridad.AplicarMecanismoAutorizacion" value="true" />
    <!--Listado de sinonimos de nombres de acciones de mvc, de las acciones de las funcionalidades para aplicar autorizacion-->
    <add key="Seguridad.Acciones.Sinonimos" value="{'VIEW':'INDEX,GET,BUSCAR,OBTENER,LIST,BUSQUEDA,DETAILS','EDIT':'ACTUALIZAR,UPDATE','DELETE':'BORRAR,ELIMINAR','CREATE':'NEW,NUEVO'}" />
    <!--Listado de controladores que se deben omitir autorizacion-->
    <add key="Seguridad.Controladores.Omitir" value="ERROR,INICIO,HOME" />
    <!--Listado de prefijos de acciones que se deben omitir autorizacion-->
    <add key="Seguridad.Acciones.Omitir" value="INICIO,VALIDAR" />
    <!--Clave para encryptacion de textos Encuest@2018-->
    <add key="Seguridad.Clave.Encriptar" value="Encuest@2018" />
    <!--Tiempo de sesion en minutos -->
    <add key="Seguridad.Token.TiempoSesion" value="20" />
    <!--Configuracion Elmah
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
-->
    <add key="MAIL.Cuenta" value="capturas04@gmail.com" />
    <add key="MAIL.Clave" value="modemode" />
    <add key="MAIL.Servidor" value="smtp.gmail.com" />
    <add key="MAIL.Servidor.Administrador.Sitio" value="jgcalero@gmail.com" />    

    <add key="Sitio.Url" value="http://localhost:4200" />
    <add key="Captcha.Validacion.Url" value="recaptcha/api/siteverify" />
    <add key="Captcha.Clave.Secreta" value="6LcS5yoUAAAAADKvI0pABHQQh0ALdp2pDs19cqtz" />
    <add key="FCM.Envio.Url" value="fcm/send" />
    <add key="FCM.Clave.Secreta" value="AAAAUBucYK4:APA91bFpiJDm_XVBYMKiO_-se-uy2az26ZI1L1axMsTA2bf31yIxu_AvZqicPn4C_T3qDBkLu3eNlflhy9bUg6tdR-f4VeXHlgmw72DkalwIfKxnvcyISsKazSYFM3VE6TuAlCLG_SI4" />
  </appSettings>
  <!--Configuraciones de IoC, por medio de StructureMap, para definir las implmentaciones, plugins, etc. del sistema-->
  <StructureMap MementoStyle="Attribute">
    <!--SEGURIDAD-->
    <!--Mecanismo de autentificacion libre, es decir deja pasar. Bypass-->
    <!--  <DefaultInstance PluginType="Udla.Framework.IAuthentication, Udla.Framework" PluggedType="Udla.Framework.ByPassAuthentication, Udla.Framework" Scope="Singleton" /> -->
    <!--Mecanismo de autentificacion utilizando servicios Ldap-->
    <!--userNameCompareStrict. Indica si se hace una comparacion estricta al comparar el nombre de usuario -->
    <DefaultInstance PluginType="Framework.Security.IAuthentication, Framework" PluggedType="Framework.Security.LdapAuthentication, Framework" Scope="Singleton" userNameCompareStrict="true" path="172.16.50.81" domain="172.16.50.81" />
    <!--Mecanismo para aplicar lista de reglas de acceso posterior a que el usuario se autentifica-->
    <DefaultInstance PluginType="Framework.Security.IAccessAuthorizer, Framework" PluggedType="Framework.Security.GnericAccessAuthorizer, Framework" Scope="Singleton" />
    <!--Regla para verificar si cuenta esta bloquea-->
    <!--<AddInstance Key="CuentaInactivaAccessRule" 
                    PluginType="Udla.Framework.IAccessRule, Udla.Framework"
                  PluggedType="Udla.Nucleo.Dominio.CuentaInactivaAccessRule,Udla.Nucleo.Dominio" Scope="Singleton" />-->
    <!--Gestion de Identidades-->
    <DefaultInstance PluginType="Framework.Security.IIdentityUser, Framework" PluggedType="Nucleo.Presentacion.Security.IdentityUserServiciosWeb, Nucleo.Presentacion" Scope="Singleton" />
    <!--Proveedor para obtener información externa del directorio activo -->
    <DefaultInstance PluginType="Framework.Security.IExternalInfoUserProvider, Framework" PluggedType="Framework.Security.ActiveDirectoryExternalInfoUserProvider,                       Framework" Scope="Singleton" connectionStringName="ADConnectionString" connectionUsername="ConsultaAD" connectionPassword="Pa$$w0rd" attributeMapUsername="userPrincipalName" attributeMapRoles="memberOf" attributeMapUserPrincipalName="userPrincipalName" attributeMapBannerId="userIDBanner" attributeMapNumeroMatricula="userIDSaes" attributeMapApellidoPaterno="sn" attributeMapNombres="givenName" attributeMapIdentificacion="userCI" attributeMapCorreo="mail" attributeMapSatatusEstudiante="userStudentStatus" attributeMapStatusProfesor="userTeacherStatus" />
    <!--Proveedor para saltar la recuperacion de usuarios de fuentes externas  -->
    <!--
    <DefaultInstance PluginType="Udla.Framework.IExternalInfoUserProvider, Udla.Framework"
                     PluggedType="Udla.Framework.ByPassInfoUserProvider, 
                     Udla.Framework" Scope="Singleton" connectionStringName="ADConnectionString" connectionUsername="ConsultaAD" connectionPassword="Pa$$w0rd" attributeMapUsername="userPrincipalName" attributeMapRoles="memberOf" attributeMapUserPrincipalName="userPrincipalName" attributeMapBannerId="userIDBanner" attributeMapNumeroMatricula="userIDSaes" attributeMapApellidoPaterno="sn" attributeMapNombres="givenName" attributeMapIdentificacion="userCI" attributeMapCorreo="mail" attributeMapSatatusEstudiante="userStudentStatus" attributeMapStatusProfesor="userTeacherStatus" />


 -->
    <!--CACHE-->
    <!--Cache local, en memoria-->
    <DefaultInstance PluginType="Framework.Cache.ICacheManager, Framework" PluggedType="Framework.Cache.LocalCacheManager, Framework" Scope="Singleton" />
    <!-- LOG -->
    <!--Logs con Nlog, revisar la section nlog para las configuraciones-->
    <DefaultInstance PluginType="Framework.Logging.ILoggerFactory, Framework" PluggedType="Infrastructure.Logging.Nlog.NLogFactory, Infrastructure.Logging.Nlog" Scope="Singleton" />
    <!-- AUDITORIA -->
    <!--Clase personalizada (layout) para el registro de auditoria medinate logs-->
    <DefaultInstance PluginType="Framework.Auditoria.ILogAuditoriaFactory, Framework" PluggedType="Infrastructure.Logging.Nlog.LogAuditoriaFactory, Infrastructure.Logging.Nlog" Scope="Singleton" />
    <!--CONTROL DE EXCEPCIONES-->
    <DefaultInstance PluginType="Framework.Exception.IHandlerExcepciones, Framework" PluggedType="Framework.Exception.ManejadorExcepciones, Framework" Scope="Singleton" />
    <!--Listado de Filtros para aplicarse en el manejador de Excepciones-->
    <!--Filtro de excepciones, para registrar la excepcion utilizando el mecanismo Elmah-->
    <AddInstance Key="ElmahFilterHandleException" PluginType="Framework.Exception.IFilterHandleException, Framework" PluggedType="Framework.Exception.ElmahFilterHandleException, Framework" />
    <!--Filtro para aplicar mensajes amigables al usuarios-->
    <AddInstance Key="ApplyFriendlyMessageIFilterHandleException" PluginType="Framework.Exception.IFilterHandleException, Framework" PluggedType="Framework.Exception.ApplyFriendlyMessageIFilterHandleException, Framework" />
    <!--CONFIGURACION DE REPOSITORIOS-->
    <!--Configuracion de repositorios con NHibernate-->
    <!--generateDataBase=true, para generar la base de datos desde los mapper del repository-->
    <!--show_sql=true, registra los logs enviados a la base de datos-->
    <DefaultInstance PluginType="Framework.Repository.IRepositoryConfiguration, Framework" PluggedType="Negocio.Api.DependencyResolution.RepositoryConfiguration, Negocio.Api" Scope="Singleton" />
    <!--VARIOS-->
    <!--Gestion de fecha y Hora. Obtener la fecha y hora de la maquina donde se ejecute el sistema-->
    <DefaultInstance PluginType="Framework.Util.IManagerDateTime, Framework" PluggedType="Framework.Util.LocalManagerDateTime, Framework" Scope="Singleton" />
  </StructureMap>
  <!--Configuraciones de  LOGS-->
  <nlog internalLogFile="${basedir}/App_Data/nlog.txt" autoReload="true" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="funcionalidad" value="${event-context:funcionalidad}" />
    <variable name="accion" value="${event-context:accion}" />
    <variable name="indentificacion" value="${event-context:indentificacion}" />
    <variable name="ip" value="${event-context:ip}" />
    <targets>
      <!--Log en archivos-->
      <target name="file" xsi:type="File" fileName="${basedir}/App_Data/logs/${machinename}_carpeta_linea_${shortdate}.txt" layout="${date:format=dd/MM/yyyy HH\:mm\:ss\:ms} | ${identity} | ${level} | ${logger} | ${machinename} | ${threadid} | ${processtime} | ${stacktrace} | ${message} | ${exception} | !" />
      <!--Logs para sql server-->
      <target name="database" xsi:type="Database" keepConnection="false" useTransactions="false" dbProvider="System.Data.SqlClient" connectionStringName="Contexto" commandText="insert into TAUD_AUDITORIA (AUD_MENSAJE,AUD_NIVEL,AUD_FECHA,AUD_USUARIO,AUD_FUNCIONALIDAD, AUD_ACCION, AUD_IDENTIFICACION, AUD_DIRECCION_IP) values(@mensaje, @nivel, @fecha, @usuario,@funcionalidad, @accion, @identificacion, @ip)">
        <parameter name="@mensaje" layout="${message}" />
        <parameter name="@nivel" layout="${level}" />
        <parameter name="@fecha" layout="${date}" />
        <parameter name="@usuario" layout="${identity:authType=False:isAuthenticated=False}" />
        <parameter name="@funcionalidad" layout="${logger}" />
        <parameter name="@accion" layout="${accion}" />
        <parameter name="@identificacion" layout="${indentificacion}" />
        <parameter name="@ip" layout="${ip}" />
      </target>
    </targets>
    <rules>
      <!-- Regla para registrar todos los logs de la aplicacion -->
      <logger name="*" minlevel="Debug" writeTo="file" />
      <!--Opciones de Auditoria, registrar por modulo o todos-->
      <!--<logger name="Seguridad\*" minlevel="Info" maxlevel="Info" writeTo="database" />
      <logger name="Agenda\*" minlevel="Info" maxlevel="Info" writeTo="database" />-->
      <logger name="*" minlevel="Info" maxlevel="Info" writeTo="database" />
    </rules>
  </nlog>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms" />
    <authorization>
      <allow users="*" verbs="OPTIONS, PROPFIND, HEAD" />
    </authorization>
    <membership defaultProvider="ByPassAuthentication">
      <providers>
        <!--MemberShip, para saltar la autentificacion siempre retorna true en la autentificacion-->
        <add name="ByPassAuthentication" type="Nucleo.Presentacion.Security.ByPassAuthentication, Nucleo.Presentacion, Version=1.0.0.0, Culture=neutral" />
        <!--
        <add name="ByPassActiveDirectoryMembershipProvider" type="Udla.Framework.ByPassActiveDirectoryMembershipProvider, Udla.Framework" connectionStringName="ADConnectionString" attributeMapUsername="userPrincipalName" connectionUsername="ConsultaAD" connectionPassword="Pa$$w0rd" />
        -->
        <!--MemberShip, para saltar la autentificacion, unicamente valida la existencia de la identidad-->
        <!--<add name="ByPassActiveDirectoryMembershipProvider" connectionStringName="ADConnectionString" connectionUsername="ConsultaAD" connectionPassword="Pa$$w0rd" attributeMapUsername="userPrincipalName" type="Udla.Framework.ByPassActiveDirectoryMembershipProvider, Udla.Framework" />-->
        <!--MemberShip estandar contra directorio activo-->
        <!--<add name="ADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" connectionUsername="ConsultaAD" connectionPassword="Pa$$w0rd" />-->
      </providers>
    </membership>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <!--Configuracion de control de errores personalizados-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/Error">-->
    <!--<error redirect="~/Error/NotFound" statusCode="404" />
      <error redirect="~/Error/InternalServerError" statusCode="500" />-->
    <!--</customErrors>-->
    <httpModules>
      <!--Control de Excepciones con Elmah-->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <sessionState mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.96.0" newVersion="1.0.96.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.10.0" newVersion="3.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--<provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />-->
      <!--<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />-->
    </providers>
  </entityFramework>
  <!--Configuracion de Control de excepciones-->
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/elmah" />
    <!--Configuracion para almacenar registros de Elmah en MongoDB-->
    <!--<errorLog type="Elmah.MongoErrorLog, Elmah.MongoDB" connectionStringName="elmah-mongodb" />-->
    <!--Configuracion para almacenar registros de Elmah en SQLite-->
    <!--<errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="elmah-sqlite" />-->
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.-->
      <authorization>
        <allow users="admin" />
        <deny users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ErrorLog" />
      <remove name="ErrorMail" />
      <remove name="ErrorFilter" />
      <!--Control de Excepciones con Elmah-->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <!--Para visualizar errores remotamente-->
    <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="true" />
    <!--<handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>