<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://farmalineapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>farmalineapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>farmalineapp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$farmalineapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Framework.EntityFramewok.EntityFrameworkContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Framework.EntityFramewok.EntityFrameworkContext, Framework" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Nucleo.Presentacion.Models.Contexto" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Nucleo.Presentacion.Models.Contexto, Nucleo.Presentacion" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Negocio.Proceso.NucleoContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Negocio.Proceso.NucleoContext, Negocio.Proceso" MigrationConfiguration="Negocio.Proceso.Migrations.Configuration, Negocio.Proceso" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Framework.EntityFramewok.EntityFrameworkContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Negocio.Proceso.NucleoContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Nucleo.Presentacion.Models.Contexto-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Framework.EntityFramewok.EntityFrameworkContext" />
    <_ConnectionStringsToInsert Include="Negocio.Proceso.NucleoContext" />
    <_ConnectionStringsToInsert Include="Nucleo.Presentacion.Models.Contexto" />
  </ItemGroup>
</Project>