<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!--  Configuracion de IoC-->
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />


  </configSections>
  <connectionStrings>
   
    <add name="NucleoContext" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Udla; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Configuraciones de IoC, por medio de StructureMap, para definir las implmentaciones, plugins, etc. del sistema-->
  <StructureMap MementoStyle="Attribute">

    <!--CONFIGURACION DE REPOSITORIOS-->
    <!--Configuracion de repositorios con NHibernate-->
    <!--generateDataBase=true, para generar la base de datos desde los mapper del repository-->
    <!--show_sql=true, registra los logs enviados a la base de datos-->
    <DefaultInstance PluginType="Udla.Framework.IRepositoryConfiguration, Udla.Framework"
                     PluggedType="Udla.CarpetaLinea.Consola.NucleoRepositoryConfiguration, Udla.CarpetaLinea.Consola" Scope="Singleton"  />



  </StructureMap>


</configuration>